body {
    margin-left: 40px;
    margin-right: 40px;
    background: red;
}

.container {
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    background: black;
    color: white;
    min-height: 100vh;
}

h1 {
    text-align: center;
    background: black;
    color: white;
    padding-top: 10px;
    padding-bottom: 40px;
}
.anime-btn {
    background: red;
}
.anime-btn:hover {
    color: red;
    background: white;
    border: 1px solid red;
}
#anime-add {
    color: red;
    border: 1px solid red;
}
#anime-add:hover {
    color: white;
    background: red;
    border: 1px solid white;
}
.gif-text {
    margin-top: 20px;
    font-size: 20px;
}